body {
    font-family: 'Helvetica Neue', sans-serif ;
    margin: 0;
    padding: 0;
    background-color: #e7aeb8; 
    color: #c21d39; 
    background-image: url(Home\ \(1\).png);
    background-size: 100%;
    background-position-y: 20px;
    background-repeat: no-repeat;

}

body header{
    font-family: 'Helvetica Neue', sans-serif ;
    margin: 10;
    padding: 10;
    background-color: #c21d39; 
    color:#fff; 
    
}

header {
    background-color: #c21d39; 
    padding: 1px 2px;
    text-align: center;
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%;

}

header h1 {
    margin: 1;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin:  10px;
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

#hero {
    text-align: center;
    padding: 50px 20px;
    background-color: #ffffff; 
    color: #fff;
}

#hero img {
    max-width: 80%;
    height: auto;
}


#sobre, #curiosidades, #educacao, #causos, #habilidades, footer {
    font-family: 'verdana';
    padding: 20px;
    margin-top: 100%;
    background-color: #ffffff; 
    border-radius: 0px;
    text-align: center;
    padding: 10 30px;
    border-radius: 15px;
}

#sobre, #educacao, #habilidades {
    font-family: 'verdana';
    margin: 0px;
    background-color: #ffffff; 
    border-radius: 0px;
    max-width: 100%;
    border-radius: 15px;
    
}

.sobre{
    margin-top: 800px;
}

.card-container {
    display: block;
    text-align: center;
    color: #fff;

}


.card {
    display: inline-block;
    width: 100px;
    margin: 1%;
    height: 250px;
    background-color:#c21d39; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(238, 101, 101, 0.1);
    
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    
}

footer {
    text-align: center;
    background-color: #c21d39; 
    padding: 10px 20px;
    color: #ffffff;
    border-radius: 1%;
    margin-top: 100px;
    
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

#habilidades {
    text-align: center;
    width: 60%; 
    margin: 50px auto ; 
}

#sobre{
    text-align: center;
    width: 60%; 
    margin: 50px auto; 
}

#curiosidades {
    text-align: center;
    width: 60%; 
    margin: 50px auto; 
}

#causos{
    text-align: center;
    width: 60%; 
    margin: 50px auto; 
}

#educacao {
    text-align: center;
    width: 60%; 
    margin: 50px auto; 
}

